#topscroll-chrome-extension-bar {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
	border-style: none !important;
	box-shadow: none !important;
	opacity: 0 !important;
	z-index: 9999999999 !important;
}

#topscroll-chrome-extension-bar.topscroll-chrome-extension-bar-1 {
	min-width: 1px !important;
	width: 1px !important;
	max-width: 1px !important;
}

#topscroll-chrome-extension-bar.topscroll-chrome-extension-bar-2 {
	min-width: 10px !important;
	width: 10px !important;
	max-width: 10px !important;
}
